{% extends "Shop/layout/main.html" %}

{% block title %}
Ecom_project | online shopping
{% endblock title %}



{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{catagory_name}} Products</h4>
                <hr style="border-color:#b8bfc2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">{{catagory_name}} Collections</li>
                    </ol>
                </nav>
                {% include "Shop/inc/message.html" %}
            </div>
            {% for item in products %}
            <div class="col-md-3 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.product_image.url}}" class="card-img-top p-4" alt="Catagories">
                    <a href="{% url 'product_details' catagory_name item.name %}">
                        <div class="card-body">
                            <hr style="border:solid 1px #041118;">
                            <h5 class="card-title text-primary"> {{ item.name }}
                            </h5>
                            <p class="card-text">
                                <span class="float-start old_price">
                                    <s>Rs.{{item.original_price|stringformat:'d'}}</s></span>

                                <span class="float-end new_price">Rs.{{ item.selling_price| stringformat:'d'}}</span>


                            </p>
                            <!-- <a href="#" class="btn btn-primary my-2">View Details</a> -->
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

</section>

{% endblock content %}